@import "tailwindcss";

:root {
  --color-text: #6b6375;
  --color-text-heading: #08060d;
  --color-bg: #ffffff;
  --color-border: #e5e4e7;
  --color-code-bg: #f4f3ec;
  --color-accent: #aa3bff;
  --color-accent-bg: rgba(170, 59, 255, 0.1);
  --color-accent-border: rgba(170, 59, 255, 0.5);
  --color-social-bg: rgba(244, 243, 236, 0.5);

  --font-sans: system-ui, "Segoe UI", Roboto, sans-serif;
  --font-mono: ui-monospace, Consolas, monospace;

  font-family: var(--font-sans);
  line-height: 1.45;
  font-weight: 400;
  color: var(--color-text);
  background: var(--color-bg);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background: var(--color-bg);
}

button,
input {
  font: inherit;
}